TS-SDK/admin/node_modules
TS-SDK/admin/package-lock.json
TS-SDK/public/node_modules
TS-SDK/public/package-lock.json
TS-SDK/public/dist
*ignore.py
*.ignore.ts
*./ignore.py
ignore.py
venv/
__pycache__/
*.pyc
*.DS_Store
.idea/
node_modules